.titulo{
    display: flex;
    justify-content: center;
}

.bodyCrearUsuario{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.flex-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  10%;
    width: 175px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #4c99ac;
    border-radius: 10px;
    background-color: #92c3f1;
    box-shadow: 0 0 10px rgba(0,0,0,0.1)
}

.login{
    display: flex;
    flex-direction: column;

}

input{
    margin-bottom: 15px;
}

.formulario{
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.titulo2{
    text-align: center;
    color: rgb(0, 0, 0);
}

.cajaFormulario{
    width: 350px;
    padding: 20px;
    border: 2px solid #4c99ac;
    border-radius: 10px;
    background-color: #92c3f1;
    box-shadow: 0 0 10px rgba(0,0,0,0.1)

}
.cajaPrincipal{
    width: 350px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}



.titulo3{
    display: flex;
    justify-content: center;
}

#bodymapa {
  font-family: Arial, sans-serif;
  text-align: center;
}


#medidas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

#medidas input {
  width: 60px;
  padding: 5px;
}


#plano {
  margin: 20px auto;
  position: relative;
  background: #f5f5f5;
  display: none;
}


.mesa {
  width: 60px;
  height: 60px;
  background-color: #4CAF50;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: move;
  border-radius: 8px;
}


#botonMesa {
  display: none;
  margin-top: 10px;
}

.oculto{
    display: none;
}

